<Main class="pt-[100px] w-3/5 m-auto min-h-screen mb-5">
  <% if (isFailed === false) { %>
  <div
    class="relative h-auto p-3 overflow-y-auto border-2 idea border-stone-700 rounded-2xl opacity-80"
  >
    <div class="flex p-3 mb-5 text-2xl font-semibold border-b-2 title-create">
      <a href="/qam/polls">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="font-extrabold w-7 h-7 text-sky-900 hover:text-sky-400"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M9 15L3 9m0 0l6-6M3 9h12a6 6 0 010 12h-3"
          />
        </svg>
      </a>

      <div class="m-auto">Edit poll</div>
    </div>
    <div class="content-idea">
      <div class="flex items-center justify-center">
        <div class="mx-auto w-full max-w-[550px]">
          <form
            id="my-form"
            action="/qam/poll/edit/<%= poll.id %>"
            onsubmit="return validateForm()"
            method="POST"
          >
            <div class="mb-4">
              <label
                for="name"
                class="mb-3 block text-base font-medium text-[#07074D]"
              >
                Title
              </label>
              <input
                type="text"
                name="namePoll"
                id="namePoll"
                required
                value="<%= poll.namePoll %>"
                class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
              />
              <div id="name-error" class="error-message"></div>
            </div>

            <div class="mb-4" id="myStartDate">
              <label
                for="startDate"
                class="mb-3 block text-base font-medium text-[#07074D]"
              >
                Start date
              </label>

              <input
                type="date"
                name="dateStart"
                id="dateStart"
                required
                value="<%= poll.dateStart.toISOString().slice(0,10) %>"
                class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
              />

              <div
                class="ml-3 text-sm font-medium"
                id="alert-error-startDate"
                style="color: red"
                hidden
              >
                *Ngày bắt đầu phải lớn hơn ngày hiện tại
              </div>
            </div>

            <div class="mb-4" id="mySubEndDate">
              <label
                for="subEndDate"
                class="mb-3 block text-base font-medium text-[#07074D]"
              >
                Sub-end date
              </label>
              <input
                type="date"
                name="dateSubEnd"
                id="dateSubEnd"
                required
                value="<%= poll.dateSubEnd.toISOString().slice(0,10) %>"
                class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
              />
            </div>

            <div
              class="ml-3 text-sm font-medium"
              id="alert-error-endSubDate"
              style="color: red"
              hidden
            >
              *Ngày kết thúc tạm thời phải lớn hơn ngày bắt đầu
            </div>

            <div class="mb-4">
              <label
                for="finalEndDate"
                class="mb-3 block text-base font-medium text-[#07074D]"
              >
                Final end date
              </label>
              <input
                type="date"
                name="dateEnd"
                id="dateEnd"
                required
                value="<%= poll.dateEnd.toISOString().slice(0,10) %>"
                class="w-full rounded-md border mb-3 border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
              />
            </div>

            <div
              class="ml-3 text-sm font-medium"
              id="alert-error-endDate"
              style="color: red"
              hidden
            >
              *Ngày kết thúc phải lớn hơn ngày kết thúc tạm thời và ngày hiện
              tại
            </div>

            <div
              class="w-1/6 px-3 py-2 m-auto text-center text-white border-2 rounded-lg submit-btn bg-sky-900 hover:bg-sky-400"
            >
              <input type="submit" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <%}else { %>
  <div
    class="relative h-auto p-3 overflow-y-auto border-2 idea border-stone-700 rounded-2xl opacity-80"
  >
    <div class="flex p-3 mb-5 text-2xl font-semibold border-b-2 title-create">
      <a href="/qam/polls">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="font-extrabold w-7 h-7 text-sky-900 hover:text-sky-400"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M9 15L3 9m0 0l6-6M3 9h12a6 6 0 010 12h-3"
          />
        </svg>
      </a>

      <div class="m-auto">Edit poll</div>
    </div>
    <div class="content-idea">
      <div class="flex items-center justify-center">
        <div class="mx-auto w-full max-w-[550px]">
          <form
            id="my-form"
            action="/qam/poll/edit/<%= idPoll %>"
            onsubmit="return validateForm()"
            method="POST"
          >
            <div class="mb-4">
              <label
                for="name"
                class="mb-3 block text-base font-medium text-[#07074D]"
              >
                Title
              </label>
              <input
                type="text"
                name="namePoll"
                id="namePoll"
                required
                value="<%= namePoll %>"
                class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
              />
            </div>

            <div
              class="ml-3 text-sm font-medium"
              id="alert-error-startDate"
              style="color: red"
            >
              *Poll Name is existed
            </div>

            <div class="mb-4" id="myStartDate">
              <label
                for="startDate"
                class="mb-3 block text-base font-medium text-[#07074D]"
              >
                Start date
              </label>

              <input
                type="date"
                name="dateStart"
                id="dateStart"
                required
                value="<%= dateStart %>"
                class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
              />

              <div
                class="ml-3 text-sm font-medium"
                id="alert-error-startDate"
                style="color: red"
                hidden
              >
                *Ngày bắt đầu phải lớn hơn ngày hiện tại
              </div>
            </div>
            <div class="mb-4" id="mySubEndDate">
              <label
                for="subEndDate"
                class="mb-3 block text-base font-medium text-[#07074D]"
              >
                Sub-end date
              </label>
              <input
                type="date"
                name="dateSubEnd"
                id="dateSubEnd"
                required
                value="<%= dateSubEnd %>"
                class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
              />
            </div>

            <div
              class="ml-3 text-sm font-medium"
              id="alert-error-endSubDate"
              style="color: red"
              hidden
            >
              *Ngày kết thúc tạm thời phải lớn hơn ngày bắt đầu và ngày hiện tại
            </div>

            <div class="mb-4">
              <label
                for="finalEndDate"
                class="mb-3 block text-base font-medium text-[#07074D]"
              >
                Final end date
              </label>
              <input
                type="date"
                name="dateEnd"
                id="dateEnd"
                required
                value="<%= dateEnd %>"
                class="w-full rounded-md border mb-3 border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
              />
            </div>

            <div
              class="ml-3 text-sm font-medium"
              id="alert-error-endDate"
              style="color: red"
              hidden
            >
              *Ngày kết thúc phải lớn hơn ngày kết thúc tạm thời và lớn hơn ngày
              hiện tại
            </div>

            <div
              class="w-1/6 px-3 py-2 m-auto text-center text-white border-2 rounded-lg submit-btn bg-sky-900 hover:bg-sky-400"
            >
              <input type="submit" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <% } %>

  <script>
    const startDateInput = document.getElementById("dateStart");
    const startDate = new Date(startDateInput.value);
    const endSubDateInput = document.getElementById("dateSubEnd");
    const endSubDate = new Date(endSubDateInput.value);

    const currentDate = new Date();
    if (startDate < currentDate) {
      document.getElementById("myStartDate").hidden = true; // ẩn phần tử
    }
    if (endSubDate < currentDate) {
      document.getElementById("mySubEndDate").hidden = true; // ẩn phần tử
    }

    function validateForm() {
      const startDateInput = document.getElementById("dateStart");
      const endSubDateInput = document.getElementById("dateSubEnd");
      const endDateInput = document.getElementById("dateEnd");

      const startDate = new Date(startDateInput.value);
      const endSubDate = new Date(endSubDateInput.value);
      const endDate = new Date(endDateInput.value);
      const currentDate = new Date();

      if (startDate > currentDate) {
        // Check if start date is earlier than start date
        if (startDate < currentDate) {
          let myDiv1 = document.getElementById("alert-error-startDate");
          myDiv1.removeAttribute("hidden");
          return false;
        }

        // Check if end sub date is earlier than start date
        if (endSubDate < startDate) {
          let myDiv2 = document.getElementById("alert-error-endSubDate");
          myDiv2.removeAttribute("hidden");
          return false;
        }

        // Check if end date is earlier than start date
        if (endDate < endSubDate) {
          let myDiv3 = document.getElementById("alert-error-endDate");
          myDiv3.removeAttribute("hidden");
          return false;
        }
      }
      if (currentDate >= startDate && currentDate <= endSubDate) {
        // Check if end sub date is earlier than start date
        if (endSubDate < currentDate) {
          let myDiv2 = document.getElementById("alert-error-endSubDate");
          myDiv2.removeAttribute("hidden");
          return false;
        }

        // Check if end date is earlier than start date
        if (endDate < endSubDate) {
          let myDiv3 = document.getElementById("alert-error-endDate");
          myDiv3.removeAttribute("hidden");
          return false;
        }
      } else {
        // Check if end date is earlier than start date
        if (currentDate > endDate) {
          let myDiv3 = document.getElementById("alert-error-endDate");
          myDiv3.removeAttribute("hidden");
          return false;
        }
      }
      // Validation passed
      return true;
    }
  </script>
</Main>
