<Main class="pt-[100px] w-3/5 m-auto min-h-screen">
  <style>
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    input[type="number"] {
      -moz-appearance: textfield;
      /* Firefox */
    }
  </style>
  <div
    class="relative p-3 border-2 border-stone-700 rounded-2xl h-auto opacity-80 mb-10"
  >
    <div class="flex p-3 mb-5 text-2xl font-semibold border-b-2 title-create">
      <a href="/qam/manage-qa">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="font-extrabold w-7 h-7 text-sky-900 hover:text-sky-400"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M9 15L3 9m0 0l6-6M3 9h12a6 6 0 010 12h-3"
          />
        </svg>
      </a>

      <div class="m-auto">Edit account</div>
    </div>
    <div class="mx-auto w-full max-w-[550px] mt-5">
      <form
        action="/qam/manage-qa/edit/<%= qa.id %>"
        method="POST"
        id="edit-form-account"
      >
        <div class="flex flex-row justify-center gap-4 header-account">
          <div class="Department">
            <label for="product-type">
              Department
              <select
                name="idDepartment"
                form="edit-form-account"
                id="idDepartment"
                class="border rounded-lg py-[2px] border-slate-400"
              >
                <% departments.forEach(function(department) { %>
                <option value="<%= department.id %>">
                  <%= department.nameDepartment %>
                </option>
                <% }) %>
              </select>
            </label>
          </div>

          <div class="italic terms">
            <label for="myCheck"> Active</label>
            <% if (qa.lockAccount === true) { %>
            <input
              type="checkbox"
              id="lockAccount"
              value="0"
              name="lockAccount"
              form="edit-form-account"
              class="border rounded-full"
              checked
            />
            <%}else { %>
            <input
              type="checkbox"
              id="lockAccount"
              name="lockAccount"
              form="edit-form-account"
              class="border rounded-full"
              value="1"
            />
            <% } %>
          </div>
        </div>
        <div class="mb-4">
          <label
            for="name"
            class="block mb-3 text-base font-medium text-black select-none"
          >
            Full name
          </label>
          <input
            type="text"
            name="fullName"
            id="fullName"
            value="<%= qa.fullName %>"
            required
            class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
          />
        </div>
        <div class="mb-4">
          <label
            for="email"
            class="block mb-3 text-base font-medium text-black"
          >
            Email
          </label>
          <input
            type="email"
            name="email"
            id="email"
            pattern=".+@gmail\.com"
            value="<%= qa.email %>"
            required
            class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
          />
        </div>
        <div class="mb-4">
          <label
            for="password"
            class="block mb-3 text-base font-medium text-black"
          >
            Password
          </label>
          <input
            type="text"
            id="password"
            name="password"
            title="Click to change password"
            value="<%= qa.password %>"
            onclick="generatePassword()"
            readonly
            class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
          />
        </div>
        <div class="mb-4">
          <label
            for="address"
            class="block mb-3 text-base font-medium text-black"
          >
            Address
          </label>
          <input
            type="text"
            name="address"
            id="address"
            value="<%= qa.address %>"
            required
            class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
          />
        </div>
        <div class="mb-4">
          <label
            for="phone"
            class="block mb-3 text-base font-medium text-black"
          >
            Phone number
          </label>
          <input
            type="tel"
            pattern="(84|0[3|5|7|8|9])+([0-9]{8})\b"
            name="phoneNumber"
            id="phoneNumber"
            value="<%= qa.phoneNumber %>"
            required
            class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
          />
        </div>
        <div
          class="w-1/6 px-3 py-2 m-auto text-center text-white border-2 rounded-lg submit-btn bg-sky-900 hover:bg-sky-400"
        >
          <input type="submit" />
        </div>
      </form>
    </div>
  </div>
</Main>

<script>
  let selectDepartment = document.getElementById("idDepartment");
  let selectRole = document.getElementById("idRole");
  selectDepartment.value = "<%= qa.idDepartment.id %>";
  selectRole.value = "<%= qa.idRole.id %>";
  function generatePassword() {
    // const length = 6;
    let password = "";
    const charText = "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ";
    for (let i = 0; i < 3; i++) {
      password += charText.charAt(Math.floor(Math.random() * charText.length));
    }
    const charNumber = "0123456789";
    for (let i = 0; i < 3; i++) {
      password += charNumber.charAt(
        Math.floor(Math.random() * charNumber.length),
      );
    }
    document.getElementById("password").value = password;
  }
</script>
