<Main class="pt-[100px] w-3/5 m-auto min-h-screen mb-5">
  <div
    class="relative h-auto p-3 border-2 idea border-stone-700 rounded-2xl opacity-80"
  >
    <div class="flex p-3 mb-5 text-2xl font-semibold border-b-2 title-create">
      <a href="/profile">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="font-extrabold w-7 h-7 text-sky-900 hover:text-sky-400"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M9 15L3 9m0 0l6-6M3 9h12a6 6 0 010 12h-3"
          />
        </svg>
      </a>

      <div class="m-auto">Create a new idea</div>
    </div>

    <form
      action="/ideas/uploadIdea"
      method="post"
      id="create-form"
      enctype="multipart/form-data"
    >
      <div class="flex flex-row justify-between header-idea">
        <div class="flex flex-row items-center justify-center gap-2 mb-3">
          <% if(staff.avatarImage === null) { %>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-20 h-20 text-sky-900"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z"
            />
          </svg>
          <%}else { %>
            <img
              src="<%= staff.avatarImage %>"
              alt=""
              class="w-24 h-24 border rounded-full"
            />
          <% } %>
          <div>
            <p class="mb-1 text-lg font-medium"><%= staff.fullName %></p>
            <div class="flex flex-row items-center gap-5">
              <div class="sort">
                <div
                  class="flex flex-row items-center justify-between gap-2 sort_button"
                >
                  <label for="product-type">
                    Status
                    <select
                      name="status"
                      id="product-type"
                      class="py-[2px] border rounded-lg border-slate-400"
                      form="create-form"
                    >
                      <option value="Draft">Draft</option>
                      <option value="Public">Public</option>
                      <option value="Private">Incognito</option>
                    </select>
                  </label>
                </div>
              </div>
              <div class="Department">
                <label for="product-type">
                  Department
                  <select
                    name="department"
                    form="create-form"
                    id="department-select"
                    class="border rounded-lg py-[2px] border-slate-400"
                  >
                  <% departments.forEach(function(department) { %>
                    <option value="<%= department._id %>"> <%= department.nameDepartment %></option>
                  <% }) %>
                  </select>
                </label>
              </div>
              <div class="Category">
                <label for="type">
                  Category
                  <select
                    name="Category"
                    id="categoriesList"
                    form="create-form"
                    class="border rounded-lg py-[2px] border-slate-400"
                  >
                    <!-- <option value="0">All</option>
                    <option value="1">Without comment</option>
                    <option value="2">Anonimous</option> -->
                  </select>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mb-8 content-idea">
        <input
            type="text"
            name="pool"
            hidden
            value="<%= newestPoll.namePoll %>"
            class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
          />
        <textarea
          rows="8"
          name="content"
          form="create-form"
          required
          class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md min-h-[200px]"
          placeholder="Your idea..."
        ></textarea>
      </div>
      <div class="w-[95%] m-auto">
          <div class="flex flex-row justify-between footer-idea">
            <div class="px-3 py-2 border-2 rounded-lg upload-btn h-auto">
              <input type="file" name="file" value="Upload" multiple />
            </div>
            <div class="flex flex-row items-center justify-between gap-5">
              <div class="italic terms">
                <input type="checkbox" id="myCheck" required />
                <a href="/terms" target="_blank"><label> Agree to terms?</label></a>
              </div>
              <div
                class="px-3 py-2 text-white border-2 rounded-lg submit-btn bg-sky-900 hover:bg-sky-400"
              >
                <input type="submit" />
              </div>
            </div>
          </div>
      </div>
    </form>
  </div>
</Main>

<script>

  $(document).ready(function () {

    $("#department-select").click(async function () {
        const departmentId = await $("#department-select").val();

        if (departmentId === "0") {
          console.log('Select default!!!!!!!!!!', departmentId);
        } else {
          console.log('Select department from DB: ', departmentId);
          const response = await axios.get(`/api/v1/categories/department/${departmentId}`);
          const categories = response.data;

          const listNameCategory = []
          categories.map((category) => {
            listNameCategory.push(category.nameCategory)
          })

          console.log(listNameCategory);
          $.each(listNameCategory, function(key, value) {   
            $("#categoriesList").append($("<option></option>")
                      .attr("value", value)
                      .text(value)); 
          })
        }
    });
  });
</script>