<Main class="pt-[70px] w-3/5 m-auto h-screen relative">
  <div class="border-2 idea border-stone-700 rounded-2xl h-[94%] opacity-80">
    <div class="header idea drop-shadow-xl">
      <div class="flex flex-row justify-between header-idea">
        <div class="flex flex-row items-center justify-center gap-2 mt-2 ml-3">
          <% if(data.ideas.idStaffIdea.avatarImage === null) { %>
          <img
            src="<%= process.env.BASE_URL %>image/avatar.png"
            alt=""
            class="w-10 h-10 border rounded-full"
          />
          <%}else { %>
          <img
            src="<%= data.ideas.idStaffIdea.avatarImage %>"
            alt=""
            class="w-10 h-10 border rounded-full"
          />
          <% } %>
          <p class="text-base font-medium">
            <%= data.ideas.idStaffIdea.fullName %>
          </p>
        </div>
        <div class="flex flex-row items-center justify-center gap-3">
          <svg
            id="close"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-10 h-10 mr-3 text-sky-600 hover:text-amber-800"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M9.75 9.75l4.5 4.5m0-4.5l-4.5 4.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
            />
          </svg>
        </div>
      </div>
    </div>

    <div class="overflow-y-auto h-[82%]">
      <div class="content-idea">
        <div
          class="w-full px-5 pt-2 mt-1 overflow-auto text-clip bg-zinc-300 h-60 sm:text-sm"
        >
          <p
            class="leading-6 overflow-hidden indent-0.5 text-justify max-h-52"
            style="
              -webkit-line-clamp: 7;
              -webkit-box-orient: vertical;
              overflow: hidden;
              display: -webkit-box;
            "
          >
            <%= data.ideas.contentIdea %>
          </p>
        </div>
      </div>

      <div class="mt-4 right-5 w-[95%] m-auto">
        <div class="flex flex-row justify-between footer-idea">
          <div class="file-icon">
            <% if(data.ideas.urlFile == null) { %>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-10 h-10 text-slate-700"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M2.25 12.75V12A2.25 2.25 0 014.5 9.75h15A2.25 2.25 0 0121.75 12v.75m-8.69-6.44l-2.12-2.12a1.5 1.5 0 00-1.061-.44H4.5A2.25 2.25 0 002.25 6v12a2.25 2.25 0 002.25 2.25h15A2.25 2.25 0 0021.75 18V9a2.25 2.25 0 00-2.25-2.25h-5.379a1.5 1.5 0 01-1.06-.44z"
              />
            </svg>
            <%}else { %>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-10 h-10 text-sky-500"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M2.25 12.75V12A2.25 2.25 0 014.5 9.75h15A2.25 2.25 0 0121.75 12v.75m-8.69-6.44l-2.12-2.12a1.5 1.5 0 00-1.061-.44H4.5A2.25 2.25 0 002.25 6v12a2.25 2.25 0 002.25 2.25h15A2.25 2.25 0 0021.75 18V9a2.25 2.25 0 00-2.25-2.25h-5.379a1.5 1.5 0 01-1.06-.44z"
              />
            </svg>
            <% } %>
          </div>

          <div
            class="flex flex-row items-center justify-center gap-5 like-dislike-view-icon"
          >
            <div class="flex flex-row items-center justify-center gap-1">
              <% if(data.ideas.isLike === true) { %>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor"
                class="w-10 h-10 cursor-pointer text-sky-500"
                id="like-icon"
              >
                <path
                  d="M7.493 18.75c-.425 0-.82-.236-.975-.632A7.48 7.48 0 016 15.375c0-1.75.599-3.358 1.602-4.634.151-.192.373-.309.6-.397.473-.183.89-.514 1.212-.924a9.042 9.042 0 012.861-2.4c.723-.384 1.35-.956 1.653-1.715a4.498 4.498 0 00.322-1.672V3a.75.75 0 01.75-.75 2.25 2.25 0 012.25 2.25c0 1.152-.26 2.243-.723 3.218-.266.558.107 1.282.725 1.282h3.126c1.026 0 1.945.694 2.054 1.715.045.422.068.85.068 1.285a11.95 11.95 0 01-2.649 7.521c-.388.482-.987.729-1.605.729H14.23c-.483 0-.964-.078-1.423-.23l-3.114-1.04a4.501 4.501 0 00-1.423-.23h-.777zM2.331 10.977a11.969 11.969 0 00-.831 4.398 12 12 0 00.52 3.507c.26.85 1.084 1.368 1.973 1.368H4.9c.445 0 .72-.498.523-.898a8.963 8.963 0 01-.924-3.977c0-1.708.476-3.305 1.302-4.666.245-.403-.028-.959-.5-.959H4.25c-.832 0-1.612.453-1.918 1.227z"
                />
              </svg>
              <%}else { %>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor"
                class="w-10 h-10 cursor-pointer text-slate-700"
                id="like-icon"
              >
                <path
                  d="M7.493 18.75c-.425 0-.82-.236-.975-.632A7.48 7.48 0 016 15.375c0-1.75.599-3.358 1.602-4.634.151-.192.373-.309.6-.397.473-.183.89-.514 1.212-.924a9.042 9.042 0 012.861-2.4c.723-.384 1.35-.956 1.653-1.715a4.498 4.498 0 00.322-1.672V3a.75.75 0 01.75-.75 2.25 2.25 0 012.25 2.25c0 1.152-.26 2.243-.723 3.218-.266.558.107 1.282.725 1.282h3.126c1.026 0 1.945.694 2.054 1.715.045.422.068.85.068 1.285a11.95 11.95 0 01-2.649 7.521c-.388.482-.987.729-1.605.729H14.23c-.483 0-.964-.078-1.423-.23l-3.114-1.04a4.501 4.501 0 00-1.423-.23h-.777zM2.331 10.977a11.969 11.969 0 00-.831 4.398 12 12 0 00.52 3.507c.26.85 1.084 1.368 1.973 1.368H4.9c.445 0 .72-.498.523-.898a8.963 8.963 0 01-.924-3.977c0-1.708.476-3.305 1.302-4.666.245-.403-.028-.959-.5-.959H4.25c-.832 0-1.612.453-1.918 1.227z"
                />
              </svg>
              <% } %>
              <p class="text-base font-medium" id="like-moule">
                <%= data.ideas.likeCount %>
              </p>
            </div>

            <div class="flex flex-row items-center justify-center gap-1">
              <% if(data.ideas.isLike === false) { %>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor"
                class="w-10 h-10 cursor-pointer text-sky-500"
                id="dislike-icon"
              >
                <path
                  d="M15.73 5.25h1.035A7.465 7.465 0 0118 9.375a7.465 7.465 0 01-1.235 4.125h-.148c-.806 0-1.534.446-2.031 1.08a9.04 9.04 0 01-2.861 2.4c-.723.384-1.35.956-1.653 1.715a4.498 4.498 0 00-.322 1.672V21a.75.75 0 01-.75.75 2.25 2.25 0 01-2.25-2.25c0-1.152.26-2.243.723-3.218C7.74 15.724 7.366 15 6.748 15H3.622c-1.026 0-1.945-.694-2.054-1.715A12.134 12.134 0 011.5 12c0-2.848.992-5.464 2.649-7.521.388-.482.987-.729 1.605-.729H9.77a4.5 4.5 0 011.423.23l3.114 1.04a4.5 4.5 0 001.423.23zM21.669 13.773c.536-1.362.831-2.845.831-4.398 0-1.22-.182-2.398-.52-3.507-.26-.85-1.084-1.368-1.973-1.368H19.1c-.445 0-.72.498-.523.898.591 1.2.924 2.55.924 3.977a8.959 8.959 0 01-1.302 4.666c-.245.403.028.959.5.959h1.053c.832 0 1.612-.453 1.918-1.227z"
                />
              </svg>
              <%}else { %>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor"
                class="w-10 h-10 cursor-pointer text-slate-700"
                id="dislike-icon"
              >
                <path
                  d="M15.73 5.25h1.035A7.465 7.465 0 0118 9.375a7.465 7.465 0 01-1.235 4.125h-.148c-.806 0-1.534.446-2.031 1.08a9.04 9.04 0 01-2.861 2.4c-.723.384-1.35.956-1.653 1.715a4.498 4.498 0 00-.322 1.672V21a.75.75 0 01-.75.75 2.25 2.25 0 01-2.25-2.25c0-1.152.26-2.243.723-3.218C7.74 15.724 7.366 15 6.748 15H3.622c-1.026 0-1.945-.694-2.054-1.715A12.134 12.134 0 011.5 12c0-2.848.992-5.464 2.649-7.521.388-.482.987-.729 1.605-.729H9.77a4.5 4.5 0 011.423.23l3.114 1.04a4.5 4.5 0 001.423.23zM21.669 13.773c.536-1.362.831-2.845.831-4.398 0-1.22-.182-2.398-.52-3.507-.26-.85-1.084-1.368-1.973-1.368H19.1c-.445 0-.72.498-.523.898.591 1.2.924 2.55.924 3.977a8.959 8.959 0 01-1.302 4.666c-.245.403.028.959.5.959h1.053c.832 0 1.612-.453 1.918-1.227z"
                />
              </svg>
              <% } %>
              <p class="text-base font-medium" id="dislike-moule">
                <%= data.ideas.disLikeCount %>
              </p>
            </div>
            <div class="flex flex-row items-center justify-center gap-1 view">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-10 h-10 cursor-pointer text-sky-600 hover:text-sky-900"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z"
                />
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
                />
              </svg>
              <p class="text-base font-medium"><%= data.ideas.viewCount %></p>
            </div>
          </div>
          <div class="comment-icon">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-10 h-10 text-sky-600 hover:text-sky-900"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M2.25 12.76c0 1.6 1.123 2.994 2.707 3.227 1.087.16 2.185.283 3.293.369V21l4.076-4.076a1.526 1.526 0 011.037-.443 48.282 48.282 0 005.68-.494c1.584-.233 2.707-1.626 2.707-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0012 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018z"
              />
            </svg>
          </div>
        </div>
      </div>

      <div class="w-full my-2 border-b-2 border-gray-300"></div>
      <% if (data.comments.length != 0) { %>
      <div class="h-40">
        <% data.comments.forEach(function(comment, target) { %>
        <div class="flex items-center my-4 comment">
          <div class="max-w-[85%] flex">
            <div class="min-w-[50px]">
              <% if(comment.idStaffComment.avatarImage === null) { %>
              <img
                src="<%= process.env.BASE_URL %>image/avatar.png"
                alt=""
                class="w-10 h-10 mx-2 border rounded-full"
              />
              <%}else { %>
              <img
                src="<%= comment.idStaffComment.avatarImage %>"
                alt=""
                class="w-10 h-10 mx-2 border rounded-full"
              />
              <% } %>
            </div>
            <div class="flex detail-comment">
              <div class="min-w-full">
                <p class="font-bold"><%= comment.idStaffComment.fullName %></p>
                <p class="w-auto p-2 rounded-lg bg-zinc-300">
                  <%= comment.contentComment %>
                </p>
              </div>
              <% if ( comment.idStaffComment._id != staff._id) { %>
              <div></div>
              <% } else{ %>
              <button
                class="ml-2 text-4xl BTN"
                onclick="toggleVisibility('section-<%= comment._id %>')"
              >
                ...
              </button>
              <% } %>
            </div>
          </div>

          <div
            id="section-<%= comment._id %>"
            class="hidden translate-x-10 translate-y-4"
          >
            <button
              class="px-4 py-2 mb-2 mr-2 text-sm font-medium text-center text-white bg-red-700 rounded-full hover:bg-red-800 focus:outline-none focus:ring-4 focus:ring-red-300 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900"
              onclick="removeComment( '<%= comment._id %>' )"
            >
              Delete
            </button>
          </div>
        </div>

        <% }); %>
      </div>
      <% } else { %>
      <div class="comment"></div>
      <% } %>
    </div>
    <% if ( checkPoll.length > 0) { %>
    <form action="/comments" method="POST">
      <div class="absolute inset-x-0 flex px-3 bottom-14 form-input-comment">
        <input
          name="idIdea"
          id="idIdea"
          class="hidden"
          value="<%= data.ideas._id %>"
        />
        <input
          id="comment"
          name="comment"
          class="mx-2 bg-gray-50 border-2 border-gray-900 text-gray-900 sm:text-sm rounded-full focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Comment..."
          required
        />
        <button id="submit-comment">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-8 h-8 my-auto text-sky-600 hover:text-sky-900 justify-items-end"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 12L3.269 3.126A59.768 59.768 0 0121.485 12 59.77 59.77 0 013.27 20.876L5.999 12zm0 0h7.5"
            />
          </svg>
        </button>
      </div>
    </form>
    <% } %>
  </div>
</Main>
<script>
  document.getElementById("close").addEventListener("click", function () {
    window.location.href = "/";
  });
  document.getElementById("editIdea").addEventListener("click", function () {
    window.location.href = "/idea/Edit";
  });
  document.getElementById("delIdea").addEventListener("click", function () {
    window.location.href = "/idea/del";
  });
</script>

<script>
  function toggleVisibility(id) {
    var element = document.getElementById(id);
    element.classList.toggle("hidden");
  }
  function removeComment(id) {
    const xhr = new XMLHttpRequest();
    xhr.open("DELETE", `/comments/${id}`, true);
    xhr.setRequestHeader("Content-Type", "application/json");
    xhr.send(JSON.stringify({ id }));
    xhr.onload = function () {
      if (xhr.status === 200) {
        location.reload();
      }
    };
  }
</script>

<script>
  const submit = document.getElementById("submit-comment");
  const comment = document.getElementById("comment");
  const idIdea = document.getElementById("idIdea");
  const like = document.getElementById("like-icon");
  const dislike = document.getElementById("dislike-icon");
  const dropMenu = document.getElementById("menu_icon");
  const drop = document.getElementById("dropdown");
  submit.addEventListener("click", function (e) {
    e.preventDefault();
    const xhr = new XMLHttpRequest();
    xhr.open("POST", "/comments", true);
    xhr.setRequestHeader("Content-Type", "application/json");
    xhr.send(
      JSON.stringify({
        idIdea: idIdea.value,
        comment: comment.value,
      }),
    );
    xhr.onload = function () {
      if (xhr.status === 200) {
        location.reload();
      }
    };
  });

  like.addEventListener("click", function (e) {
    console.log("like");
    $.ajax({
      type: "PUT",
      url: "http://localhost:3000/ideas/like",
      data: { IdIdea: $("#idIdea").val(), isLike: true },
    }).then((response) => {
      $("#like-moule").empty();
      $("#like-moule").append(response.newLikeCount);
      $("#dislike-moule").empty();
      $("#dislike-moule").append(response.newDisLikeCount);
    });

    if (dislike.classList.contains("text-sky-500")) {
      dislike.classList.remove("text-sky-500");
      dislike.classList.add("text-slate-700");
    }
    like.classList.toggle("text-sky-500");
    like.classList.toggle("text-slate-700");
  });

  dislike.addEventListener("click", function (e) {
    $.ajax({
      type: "PUT",
      url: "http://localhost:3000/ideas/dislike",
      data: { IdIdea: $("#idIdea").val(), isLike: false },
    }).then((response) => {
      $("#like-moule").empty();
      $("#like-moule").append(response.newLikeCount);
      $("#dislike-moule").empty();
      $("#dislike-moule").append(response.newDisLikeCount);
    });

    if (like.classList.contains("text-sky-500")) {
      like.classList.remove("text-sky-500");
      like.classList.add("text-slate-700");
    }
    dislike.classList.toggle("text-sky-500");
    dislike.classList.toggle("text-slate-700");
  });

  function dropdown() {
    drop.classList.toggle("hidden");
  }

  function dropdownDismiss() {
    drop.classList.add("hidden");
  }

  dropMenu.addEventListener("click", () => {
    dropdown();
  });

  drop.addEventListener("mouseleave", () => {
    dropdownDismiss();
  });
</script>
