    <Main class="pt-[70px] w-3/5 m-auto h-screen overflow-auto">
      <div
        class="border-2 idea border-stone-700 rounded-2xl h-[94%] opacity-80"
      >
        <div class="header idea">
          <div class="flex flex-row justify-between header-idea">
            <div class="flex flex-row items-center justify-center gap-2 ml-3">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-12 h-12 text-sky-600"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z"
                />
              </svg>
              <p class="text-base font-medium"><%= staff.fullName %></p>
            </div>
            <div class="flex flex-row items-center justify-center gap-3">
              <svg
                id="editIdea"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-8 h-8 text-sky-600 hover:text-sky-900 my-auto"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10"
                />
              </svg>
              <svg
                id="delIdea"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-8 h-8 mr-4 text-sky-600 hover:text-sky-900 my-auto"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"
                />
              </svg>
              <svg
                id="close"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-10 h-10 text-sky-600 hover:text-amber-800"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M9.75 9.75l4.5 4.5m0-4.5l-4.5 4.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                />
              </svg>
              <script>
                function removeComment(id) {
                  const xhr = new XMLHttpRequest();
                  xhr.open("DELETE", `/idea/deleteComment/${id}`, true);
                  xhr.setRequestHeader("Content-Type", "application/json");
                  xhr.send(JSON.stringify({ id }));
                  xhr.onload = function () {
                    if (xhr.status === 200) {
                      location.reload();
                    }
                  };
                }
              </script>
            </div>
          </div>
        </div>

        <div class="content-idea">
          <div
            class="w-full px-5 pt-2 mt-1 text-clip bg-zinc-300 h-52 sm:text-sm overflow-auto"
          >
            <p
              class="leading-6 overflow-hidden indent-0.5 text-justify max-h-52"
              style="
                -webkit-line-clamp: 7;
                -webkit-box-orient: vertical;
                overflow: hidden;
                display: -webkit-box;
              "
            >
              <%= idea.contentIdea %>
            </p>
          </div>
        </div>

        <div class="mt-4 right-5 w-[95%] m-auto">
          <div class="flex flex-row justify-between footer-idea">
            <div class="file-icon">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-10 h-10 text-sky-600 hover:text-sky-900"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M2.25 12.75V12A2.25 2.25 0 014.5 9.75h15A2.25 2.25 0 0121.75 12v.75m-8.69-6.44l-2.12-2.12a1.5 1.5 0 00-1.061-.44H4.5A2.25 2.25 0 002.25 6v12a2.25 2.25 0 002.25 2.25h15A2.25 2.25 0 0021.75 18V9a2.25 2.25 0 00-2.25-2.25h-5.379a1.5 1.5 0 01-1.06-.44z"
                />
              </svg>
            </div>
            <div
              class="flex flex-row items-center justify-center gap-5 like-dislike-view-icon"
            >
              <div class="flex flex-row items-center justify-center gap-1 like">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-10 h-10 text-sky-600 hover:text-sky-900"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M6.633 10.5c.806 0 1.533-.446 2.031-1.08a9.041 9.041 0 012.861-2.4c.723-.384 1.35-.956 1.653-1.715a4.498 4.498 0 00.322-1.672V3a.75.75 0 01.75-.75A2.25 2.25 0 0116.5 4.5c0 1.152-.26 2.243-.723 3.218-.266.558.107 1.282.725 1.282h3.126c1.026 0 1.945.694 2.054 1.715.045.422.068.85.068 1.285a11.95 11.95 0 01-2.649 7.521c-.388.482-.987.729-1.605.729H13.48c-.483 0-.964-.078-1.423-.23l-3.114-1.04a4.501 4.501 0 00-1.423-.23H5.904M14.25 9h2.25M5.904 18.75c.083.205.173.405.27.602.197.4-.078.898-.523.898h-.908c-.889 0-1.713-.518-1.972-1.368a12 12 0 01-.521-3.507c0-1.553.295-3.036.831-4.398C3.387 10.203 4.167 9.75 5 9.75h1.053c.472 0 .745.556.5.96a8.958 8.958 0 00-1.302 4.665c0 1.194.232 2.333.654 3.375z"
                  />
                </svg>
                <p class="text-base font-medium">1000</p>
              </div>

              <div
                class="flex flex-row items-center justify-center gap-1 dislike"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-10 h-10 text-sky-600 hover:text-sky-900"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M7.5 15h2.25m8.024-9.75c.011.05.028.1.052.148.591 1.2.924 2.55.924 3.977a8.96 8.96 0 01-.999 4.125m.023-8.25c-.076-.365.183-.75.575-.75h.908c.889 0 1.713.518 1.972 1.368.339 1.11.521 2.287.521 3.507 0 1.553-.295 3.036-.831 4.398C20.613 14.547 19.833 15 19 15h-1.053c-.472 0-.745-.556-.5-.96a8.95 8.95 0 00.303-.54m.023-8.25H16.48a4.5 4.5 0 01-1.423-.23l-3.114-1.04a4.5 4.5 0 00-1.423-.23H6.504c-.618 0-1.217.247-1.605.729A11.95 11.95 0 002.25 12c0 .434.023.863.068 1.285C2.427 14.306 3.346 15 4.372 15h3.126c.618 0 .991.724.725 1.282A7.471 7.471 0 007.5 19.5a2.25 2.25 0 002.25 2.25.75.75 0 00.75-.75v-.633c0-.573.11-1.14.322-1.672.304-.76.93-1.33 1.653-1.715a9.04 9.04 0 002.86-2.4c.498-.634 1.226-1.08 2.032-1.08h.384"
                  />
                </svg>
                <p class="text-base font-medium">900</p>
              </div>
              <div class="flex flex-row items-center justify-center gap-1 view">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-10 h-10 text-sky-600 hover:text-sky-900"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z"
                  />
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
                  />
                </svg>
                <p class="text-base font-medium">3000</p>
              </div>
            </div>
            <div class="comment-icon">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-10 h-10 text-sky-600 hover:text-sky-900"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M2.25 12.76c0 1.6 1.123 2.994 2.707 3.227 1.087.16 2.185.283 3.293.369V21l4.076-4.076a1.526 1.526 0 011.037-.443 48.282 48.282 0 005.68-.494c1.584-.233 2.707-1.626 2.707-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0012 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018z"
                />
              </svg>
            </div>
          </div>
        </div>
        <div class="w-full border-b-2 border-gray-300 my-2"></div>
        <% if (comments.length = 0) { %>
        <div class="h-20 overflow-auto">
          <% comments.forEach(function(comment, target) { %>
          <div class="comment">
            <div class="flex right-5 w-[95%] m-auto mt-2 h-18">
              <div class="my-auto">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-12 h-12 text-sky-600"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z"
                  />
                </svg>
              </div>
              <div class="detail comment">
                <div class="ml-4 w-full my-auto">
                  <div class=""><%= comment.name %></div>
                  <div class="bg-zinc-300 rounded-lg w-[300px] pl-2 py-1">
                    <%= comment.Comment %>
                  </div>
                </div>
              </div>
              <button
                class="BTN ml-2 text-align-center text-4xl"
                onclick="toggleVisibility('section-<%= comment.id %>')"
              >
                ...
              </button>
              <div
                id="section-<%= comment.id %>"
                class="hidden flex items-center justify-center my-auto ml-2 mt-6"
              >
                <button
                  class="hover:bg-green-400 border-2 border-slate-900 text-black rounded-l-full w-12 h-8 flex items-center justify-center"
                  onclick="edit( '<%= comment.id %>', '<%= comment.Comment %>' )"
                >
                  Edit
                </button>
                <button
                  class="remove-button hover:bg-red-400 border-2 border-slate-900 text-black rounded-r-full w-16 h-8 flex items-center justify-center"
                  onclick="removeComment( '<%= comment.id %>' )"
                >
                  Delete
                </button>
              </div>
              <script>
                function toggleVisibility(id) {
                  var element = document.getElementById(id);
                  if (element.classList.contains("hidden")) {
                    element.classList.remove("hidden");
                  } else {
                    element.classList.add("hidden");
                  }
                }
                function edit(id, Comment) {
                  document.getElementById("text-input").value = Comment;
                }
                function removeComment(id) {
                  const xhr = new XMLHttpRequest();
                  xhr.open("DELETE", `/idea/deleteComment/${id}`, true);
                  xhr.setRequestHeader("Content-Type", "application/json");
                  xhr.send(JSON.stringify({ id }));
                  xhr.onload = function () {
                    if (xhr.status === 200) {
                      location.reload();
                    }
                  };
                }
              </script>
            </div>
          </div>
          <% }); %>
        </div>
        <% } else { %>
          <div class="h-96"></div>
          <% } %>
        <div class="form-input-comment">
          <div class="flex mb-44">
            <input
              id="text-input"
              class="ml-4 mr-2 bg-gray-50 border-2 border-gray-900 text-gray-900 sm:text-sm rounded-full focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="comment"
            />
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-8 h-8 text-sky-600 hover:text-sky-900 my-auto justify-items-end"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M6 12L3.269 3.126A59.768 59.768 0 0121.485 12 59.77 59.77 0 013.27 20.876L5.999 12zm0 0h7.5"
              />
            </svg>
          </div>
        </div>
      </div>
    </Main>
  </body>
  <script>
    document.getElementById("close").addEventListener("click", function () {
      window.location.href = "/";
    });
    document.getElementById("editIdea").addEventListener("click", function () {
      window.location.href = "/idea/Edit";
    });
    document.getElementById("delIdea").addEventListener("click", function () {
      window.location.href = "/idea/del";
    });
  </script>

