<Main class="pt-[100px] w-3/5 m-auto min-h-screen mb-5">
  <div
    class="relative h-auto p-3 border-2 idea border-stone-700 rounded-2xl opacity-80"
  >
    <div class="flex p-3 mb-5 text-2xl font-semibold border-b-2 title-create">
      <a href="/profile">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="font-extrabold w-7 h-7 text-sky-900 hover:text-sky-400"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M9 15L3 9m0 0l6-6M3 9h12a6 6 0 010 12h-3"
          />
        </svg>
      </a>

      <div class="m-auto">Edit idea</div>
    </div>
    <form
      action="/ideas/updateIdea?_method=PUT"
      method="POST"
      id="edit-form"
      enctype="multipart/form-data"
    >
      <div class="flex flex-row justify-between header-idea">
        <div class="flex flex-row items-center justify-center gap-2 mb-3">
          <% if(idea.idStaffIdea.avatarImage === null) { %>
          <img
            src="<%= process.env.BASE_URL %>image/avatar.png"
            alt=""
            class="w-16 h-16 border rounded-full"
          />
          <%}else { %>
          <img
            src="<%= staff.avatarImage %>"
            alt=""
            class="w-24 h-24 border rounded-full"
          />
          <% } %>
          <div>
            <p class="mb-1 text-lg font-medium">
              <%= idea.idStaffIdea.fullName %>
            </p>
            <div class="flex flex-row items-center gap-5">
              <!-- <input type="hidden" name="_method" value="PUT" hidden> -->
              <div class="sort">
                <div
                  class="flex flex-row items-center justify-between gap-2 sort_button"
                >
                  <label for="product-type">
                    Status
                    <select
                      name="status"
                      id="statusType"
                      class="py-[2px] border rounded-lg border-slate-400"
                      form="edit-form"
                    >
                      <option value="" selected disabled hidden>
                        <%= idea.status %>
                      </option>
                      <option value="Draff">Draff</option>
                      <option value="Public">Public</option>
                      <option value="Incognito">Incognito</option>
                    </select>
                  </label>
                </div>
              </div>
              <div class="Department">
                <label for="product-type">
                  Department
                  <select
                    name="idDepartment"
                    form="edit-form"
                    class="border rounded-lg py-[2px] border-slate-400"
                    id="department-select"
                  >
                    <option value="" selected disabled hidden>
                      <%= idea.idDepartment.nameDepartment %>
                    </option>
                    <% departments.forEach(function(department) { %>
                    <option value="<%= department._id %>">
                      <%= department.nameDepartment %>
                    </option>
                    <% }) %>
                  </select>
                </label>
              </div>
              <div class="Category">
                <label for="type">
                  Category
                  <select
                    name="idCategory"
                    id="categoriesList"
                    form="edit-form"
                    required
                    class="border rounded-lg py-[2px] border-slate-400"
                  >
                    <% if(idea.idCategory !== null) { %>
                    <option><%= idea.idCategory.nameCategory %></option>
                    <% } else { %>
                    <option></option>
                    <% } %>
                  </select>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="content-idea mb-7">
        <textarea
          name="contentIdea"
          required
          disabled
          class="block w-full mt-1 border-gray-300 rounded-md shadow-sm min-h-[200px] focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"
          placeholder="Your idea..."
        >
          <%= idea.contentIdea%></textarea
        >
      </div>
      <input type="hidden" name="ideaId" value="<%= idea._id %>" />
      <div class="w-[95%] m-auto">
        <div class="flex flex-row justify-between footer-idea">
          <div class="px-3 py-2 border-2 rounded-lg upload-btn">
            <input type="file" name="urlFile" multiple />
          </div>
          <div class="flex flex-row items-center justify-between gap-5">
            <div
              class="px-3 py-2 text-white border-2 rounded-lg submit-btn bg-sky-900 hover:bg-sky-400"
            >
              <input type="submit" />
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</Main>

<script>
  $(document).ready(function () {
    $("#department-select").click(async function () {
      const departmentId = await $("#department-select").val();

      if (departmentId === "0") {
        console.log("Select default!!!!!!!!!!", departmentId);
      } else {
        console.log("Select department from DB: ", departmentId);
        const response = await axios.get(
          `/api/v1/categories/department/${departmentId}`,
        );
        const categories = response.data;

        if (categories.length === 0) {
          $("#categoriesList").empty();
          $("#categoriesList").append(
            $("<option></option>").attr("value", "").text("No category"),
          );
        } else {
          $("#categoriesList").empty();
          $.each(categories, function (key, category) {
            $("#categoriesList").append(
              $("<option></option>")
                .attr("value", category.id)
                .text(category.nameCategory),
            );
          });
        }

        // Add click event listener to categories
        $("#categoriesList").off("change");
        $("#categoriesList").on("change", async function () {
          const categoryId = await $("#categoriesList").val();
          console.log("Selected category from DB: ", categoryId);

          // Fetch category details and reset the categoriesList dropdown
          const response = await axios.get(`/api/v1/categories/${categoryId}`);
          const category = response.data;
          $("#categoriesList").empty();
          $("#categoriesList").append(
            $("<option></option>").attr("value", "").text("Select a category"),
          );
          $("#categoriesList").append(
            $("<option></option>")
              .attr("value", category.id)
              .text(category.nameCategory),
          );
        });
      }
    });
  });
</script>

<script>
  const dropMenu = document.getElementById("menu_icon");
  const drop = document.getElementById("dropdown");
  function dropdown() {
    drop.classList.toggle("hidden");
  }

  function dropdownDismiss() {
    drop.classList.add("hidden");
  }

  dropMenu.addEventListener("click", () => {
    dropdown(); 
  });

  drop.addEventListener("mouseleave", () => {
    dropdownDismiss();
  });
</script>
