<div class="overflow-x-auto">
  <div
    class="min-w-screen min-h-screen bg-gray-100 flex justify-center bg-gray-100 font-sans overflow-hidden"
  >
    <div class="w-full lg:w-5/6">
      <div class="relative create-btn mt-20 mb-10">
        <a href="/admin/account/create">
          <button
            class="relative left-[69%] 2xl:left-[73%] inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-green-500 to-sky-900 group-hover:from-green-400 group-hover:to-sky-900 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800"
          >
            <span
              class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0"
            >
              New Account +
            </span>
          </button>
        </a>
      </div>
      <div class="bg-white shadow-md rounded my-6">
        <table class="min-w-max w-full table-auto">
          <thead>
            <tr
              class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal"
            >
              <th class="py-3 px-6 text-left">ID</th>
              <th class="py-3 px-6 text-left">Full Name</th>
              <th class="py-3 px-6 text-left">Gmail</th>
              <th class="py-3 px-6 text-left">Address</th>
              <th class="py-3 px-6 text-left">Phone Number</th>
              <th class="py-3 px-6 text-left">Department</th>
              <th class="py-3 px-6 text-left">Role</th>
              <th class="py-3 px-6 text-center">Active</th>
              <th class="py-3 px-6 text-center">Actions</th>
            </tr>
          </thead>
          <tbody class="text-gray-600 text-sm font-light">
            <% staffs.forEach(function(staff,index) { %>
            <tr class="border-b border-gray-200 hover:bg-gray-100">
              <td class="py-3 px-6 text-left">
                <span class="font-medium"><%= index + 1 %></span>
              </td>
              <td class="py-3 px-6 text-left">
                <span class="font-medium"><%= staff.fullName %></span>
              </td>
              <td class="py-3 px-6 text-left">
                <span class="font-medium"><%= staff.email %></span>
              </td>
              <td class="py-3 px-6 text-left">
                <span class="font-medium"><%= staff.address %></span>
              </td>
              <td class="py-3 px-6 text-left">
                <span class="font-medium"><%= staff.phoneNumber %></span>
              </td>
              <td class="py-3 px-6 text-left">
                <span class="font-medium"
                  ><%= staff.idDepartment.nameDepartment %></span
                >
              </td>
              <td class="py-3 px-6 text-left">
                <span class="font-medium"><%= staff.idRole.nameRole %></span>
              </td>
              <% if (staff.lockAccount === true) { %>
              <td class="py-3 px-6 text-center">
                <span
                  class="bg-green-600 text-white py-1 px-3 rounded-full text-xs"
                  >Active</span
                >
              </td>
              <%}else { %>
              <td class="py-3 px-6 text-center">
                <span
                  class="bg-red-600 text-white py-1 px-3 rounded-full text-xs"
                  >Block</span
                >
              </td>
              <% } %>
              <td class="py-3 px-6 text-center">
                <div class="flex item-center justify-center">
                  <div
                    class="w-4 mr-2 transform hover:text-purple-500 hover:scale-110"
                  >
                    <a href="/admin/account/edit/<%= staff.id %>">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"
                        />
                      </svg>
                    </a>
                  </div>
                  <div
                    class="w-4 mr-2 transform hover:text-purple-500 hover:scale-110"
                  >
                    <a href="">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"
                        />
                      </svg>
                    </a>
                  </div>
                </div>
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
