<div class="overflow-x-auto m-1">
  <div
    class="min-w-screen min-h-screen flex justify-center font-sans overflow-hidden"
  >
    <div class="w-full lg:w-5/6">
      <div class="relative mt-20 mb-10 create-btn flex justify-end">
        <a href="/admin/terms/create">
          <button
            type="button"
            class="inline-block px-6 py-4 bg-sky-900 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-sky-400 hover:shadow-lg focus:bg-blue-400 focus:shadow-lg focus:outline-none focus:ring-0 active: active:shadow-lg transition duration-150 ease-in-out"
          >
            New Terms
          </button>
        </a>
      </div>
      <div class="bg-white shadow-md rounded my-6">
        <table class="table-auto" id="table_list_term">
          <thead>
            <tr
              class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal"
            >
              <th class="py-3 px-6 text-center">ID</th>
              <th class="py-3 px-6 text-left">Title</th>
              <th class="py-3 px-6 text-center">Content</th>
              <th class="py-3 px-6 text-center">Actions</th>
            </tr>
          </thead>
          <tbody class="text-gray-600 text-sm font-light">
            <% let count = rules.length %> <%
            rules?.forEach(function(rule,index) { %>
            <tr class="border-b border-gray-200 hover:bg-gray-100">
              <td class="py-3 px-6 text-left whitespace-nowrap">
                <div class="flex items-center">
                  <span class="font-medium"><%= ++index %></span>
                </div>
              </td>
              <td class="py-3 px-6 text-left">
                <div class="flex items-left">
                  <span class="font-medium"><%= rule.title %></span>
                </div>
              </td>
              <td
                class="py-1 px-6 text-justify leading-6 overflow-hidden indent-0.5 max-h-52"
                style="
                  -webkit-line-clamp: 3;
                  -webkit-box-orient: vertical;
                  overflow: hidden;
                  display: -webkit-box;
                "
              >
                <%= rule.contentRule %>
              </td>
              <td class="py-3 px-6 text-center">
                <div class="flex justify-center item-center">
                  <div
                    div
                    class="w-6 mr-2 transform hover:text-sky-̣̣̣900 hover:scale-110"
                  >
                    <a href="/admin/terms/edit/<%= rule.id %>">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"
                        />
                      </svg>
                    </a>
                  </div>
                  <div
                    class="w-6 mr-2 transform hover:text-sky-900 hover:scale-110"
                  >
                    <a
                      href="/admin/terms/delete/<%= rule.id %>"
                      onclick="return confirm('Are you sure you want to delete this term?');"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"
                        />
                      </svg>
                    </a>
                  </div>
                </div>
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
