<Main class="pt-[100px] w-3/5 m-auto min-h-screen">
  <style>
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    input[type="number"] {
      -moz-appearance: textfield;
      /* Firefox */
    }
  </style>
  <div
    class="relative h-auto p-3 mb-10 border-2 border-stone-700 rounded-2xl opacity-80"
  >
    <div class="flex p-3 mb-5 text-2xl font-semibold border-b-2 title-create">
      <a href="/profile">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="font-extrabold w-7 h-7 text-sky-900 hover:text-sky-400"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M9 15L3 9m0 0l6-6M3 9h12a6 6 0 010 12h-3"
          />
        </svg>
      </a>

      <div class="m-auto">Edit profile page</div>
    </div>
    <div class="mx-auto w-full max-w-[550px] mt-5">
      <form
        action="/profile/<%= staffProfile._id %>?_method=PUT"
        method="POST"
        id="edit-form-profile"
        enctype="multipart/form-data"
      >
        <div class="flex justify-center">
          <div class="flex items-center space-x-6">
            <% if(staffProfile.avatarImage === "" || staff.avatarImage === null) { %>
            <div class="shrink-0">
              <img
                src="<%= process.env.BASE_URL %>image/avatar.png"
                alt=""
                class="object-cover w-24 h-24 border-2 rounded-full cursor-pointer border-lime-700"
              />
            </div>
            <%}else { %>
            <img
              src="<%= staffProfile.avatarImage %>"
              alt=""
              class="w-24 h-24 border rounded-full cursor-pointer"
            />
            <% } %>

            <label class="block mt-2 ml-3">
              <span class="sr-only">Choose profile photo</span>
              <input
                type="file"
                id="avatarUpload"
                name="avatarImage"
                accept="image/*"
                class="block w-full text-sm text-slate-500 file:mr-4 file:py-2 file:px-4 file:rounded-full file:border-0 file:text-sm file:font-semibold file:bg-violet-50 file:text-violet-700 hover:file:bg-violet-100"
              />
            </label>
          </div>
        </div>

        <div class="flex justify-center mt-4 mb-4">
          <img
            id="avatar-preview"
            style="display: none"
            src="https://img-c.udemycdn.com/user/200_H/anonymous_3.png"
            class="object-cover border-2 rounded-full cursor-pointer border-lime-700 max-lg:w-48 max-lg:h-48 w-60 h-60"
          />
        </div>

        <div class="mb-4">
          <div class="flex justify-between">
            <h4 class="block mb-3 text-base font-medium text-black">
              Full name:
            </h4>
            <h4 class="block mb-3 text-base font-medium text-black">
              <%= staffProfile.fullName %>
            </h4>
          </div>
          <div class="flex justify-between">
            <h4 class="block mb-3 text-base font-medium text-black">Email:</h4>
            <h4 class="block mb-3 text-base font-medium text-black">
              <%= staffProfile.email %>
            </h4>
          </div>
          <% if (staffProfile.idDepartment === null) { %>
          <div class="flex justify-between">
            <h4 class="block mb-3 text-base font-medium text-black">
              Department:
            </h4>
            <h4 class="block mb-3 text-base font-medium text-black">
              You do not have a Department
            </h4>
          </div>
          <%}else { %>
          <div class="flex justify-between">
            <h4 class="block mb-3 text-base font-medium text-black">
              Department:
            </h4>
            <h4 class="block mb-3 text-base font-medium text-black">
              <%= staffProfile.idDepartment.nameDepartment %>
            </h4>
          </div>
          <% } %>
          <div class="flex justify-between">
            <h4 class="block mb-3 text-base font-medium text-black">Role:</h4>
            <h4 class="block mb-3 text-base font-medium text-black">
              <%= staffProfile.idRole.nameRole%>
            </h4>
          </div>
        </div>

        <div class="mb-16">
          <div class="mb-4">
            <label class="block mb-3 text-base font-medium text-black">
              Address
            </label>
            <input
              type="text"
              name="address"
              value="<%= staffProfile.address %>"
              class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
            />
          </div>
          <% if (isFailed === false) { %>
          <div class="mb-8">
            <label class="block mb-3 text-base font-medium text-black">
              Phone number
            </label>
            <input
              type="text"
              name="phoneNumber"
              value="<%= staffProfile.phoneNumber %>"
              required
              class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
            />
          </div>
          <%}else { %>
          <div class="mb-8">
            <label class="block mb-3 text-base font-medium text-black">
              Phone number
            </label>
            <input
              type="text"
              name="phoneNumber"
              value="<%= currentPhone %>"
              required
              class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
            />
          </div>

          <div
            class="ml-3 text-sm font-medium"
            id="alert-error-endDate"
            style="color: red"
          >
            <%= errorMessage %>
          </div>
          <% } %>
        </div>

        <div
          class="absolute w-[90px] px-3 py-2 text-center text-white border-2 rounded-lg mb-2 bottom-2 right-5 submit-btn bg-sky-900 hover:bg-sky-400"
        >
          <input type="submit" />
        </div>
      </form>
    </div>
  </div>
</Main>

<script>
  const input = document.getElementById("avatarUpload");
  const avatarPreview = document.getElementById("avatar-preview");

  input.addEventListener("input", function () {
    if (input.value) {
      avatarPreview.style.display = "block";
      input.addEventListener("change", () => {
        const file = input.files[0];
        const reader = new FileReader();

        reader.addEventListener("load", () => {
          avatarPreview.src = reader.result;
        });

        reader.readAsDataURL(file);
      });
    } else {
      avatarPreview.style.display = "none";
    }
  });
</script>

<script>
  const dropMenu = document.getElementById("menu_icon");
  const drop = document.getElementById("dropdown");
  function dropdown() {
    drop.classList.toggle("hidden");
  }

  function dropdownDismiss() {
    drop.classList.add("hidden");
  }

  dropMenu.addEventListener("click", () => {
    dropdown();
  });

  drop.addEventListener("mouseleave", () => {
    dropdownDismiss();
  });
</script>
