<div class="min-h-screen">
  <div
    class="flex flex-row justify-between w-4/5 pb-6 m-auto border-b-2 mt-[60px] sort_filter"
  >
    <div class="flex flex-row gap-10">
      <div class="sort">
        <div
          class="flex flex-row items-center justify-between gap-3 sort_button"
        >
          <label for="product-type">
            Sort
            <select
              name="product-type"
              id="product-type"
              class="border-2 rounded-lg border-slate-400"
            >
              <option value="0">Recently</option>
              <option value="1">Like high to low</option>
              <option value="2">Like low to high</option>
              <option value="3">View high to low</option>
              <option value="4">View low to high</option>
            </select>
          </label>
        </div>
      </div>
      <div class="filter">
        <label for="product-type">
          Filter
          <select
            name="product-type"
            id="product-type"
            class="border-2 rounded-lg border-slate-400"
          >
            <option value="0">All poll</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>
        </label>
      </div>
      <div class="Exception">
        <label for="type">
          Exception
          <select
            name="type"
            id="type"
            class="border-2 rounded-lg border-slate-400"
          >
            <option value="0">All</option>
            <option value="1">Without comment</option>
            <option value="2">Anonimous</option>
          </select>
        </label>
      </div>
    </div>
    <div>
      <div
        id="download-button"
        class="p-2 my-auto border-2 rounded-lg cursor-pointer border-slate-700 hover:border-slate-400 hover:text-slate-400"
      >
        Download
      </div>

      <!-- <div id="modal" class="hidden w-40 h-10 bg-red-500">
      <div id="no">yes</div>
      <div>No</div>
    </div> -->
    </div>
  </div>

  <div class="flex flex-row w-4/5 gap-8 m-auto mt-2 statictis">
    <p class="text-base font-normal text-gray-900 dark:text-white">
      Number of idea: 100
    </p>
    <p class="text-base font-normal text-gray-900 dark:text-white">
      Number of participants: 100
    </p>
    <p class="text-base font-normal text-gray-900 dark:text-white">
      Number of participants: 1
    </p>
  </div>

  <div class="flex flex-col w-1/2 m-auto mt-4 select-none gap-9">
    <% ideas.docs.forEach(function(idea) { %>
    <div
      class="relative p-3 border-2 idea border-stone-700 rounded-2xl h-96 opacity-80"
    >
      <div class="flex flex-row justify-between header-idea">
        <div class="flex flex-row items-center justify-center gap-2 ml-3">
          <% if(idea.idStaffIdea.avatarImage === null) { %>
          <img
            src="<%= process.env.BASE_URL %>image/avatar.png"
            alt=""
            class="w-12 h-12 border rounded-full"
          />
          <%}else { %>
          <img
            src="<%= idea.idStaffIdea.avatarImage %>"
            alt=""
            class="w-12 h-12 border rounded-full"
          />
          <% } %>

          <p class="text-base font-medium"><%= idea.idStaffIdea.fullName %></p>
        </div>
      </div>

      <div class="content-idea">
        <a href="/ideas/<%= idea._id %>/detail">
          <div
            class="w-full px-5 pt-2 mt-1 border border-gray-300 rounded-md shadow-sm text-clip h-60 focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"
          >
            <p
              class="leading-6 overflow-hidden indent-0.5 text-justify max-h-52"
              style="
                -webkit-line-clamp: 7;
                -webkit-box-orient: vertical;
                overflow: hidden;
                display: -webkit-box;
              "
            >
              <%= idea.contentIdea %>
            </p>
          </div>
        </a>
        <input
          type="text"
          name="id"
          class="hidden id-idea"
          value="<%= idea._id %>"
        />
      </div>

      <div class="absolute bottom-3 right-5 w-[95%] m-auto">
        <div class="flex flex-row justify-between footer-idea">
          <div class="file-icon">
            <% if(idea.urlFile == null) { %>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-10 h-10 text-slate-700"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M2.25 12.75V12A2.25 2.25 0 014.5 9.75h15A2.25 2.25 0 0121.75 12v.75m-8.69-6.44l-2.12-2.12a1.5 1.5 0 00-1.061-.44H4.5A2.25 2.25 0 002.25 6v12a2.25 2.25 0 002.25 2.25h15A2.25 2.25 0 0021.75 18V9a2.25 2.25 0 00-2.25-2.25h-5.379a1.5 1.5 0 01-1.06-.44z"
              />
            </svg>
            <%}else { %>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-10 h-10 text-sky-500"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M2.25 12.75V12A2.25 2.25 0 014.5 9.75h15A2.25 2.25 0 0121.75 12v.75m-8.69-6.44l-2.12-2.12a1.5 1.5 0 00-1.061-.44H4.5A2.25 2.25 0 002.25 6v12a2.25 2.25 0 002.25 2.25h15A2.25 2.25 0 0021.75 18V9a2.25 2.25 0 00-2.25-2.25h-5.379a1.5 1.5 0 01-1.06-.44z"
              />
            </svg>
            <% } %>
          </div>

          <div
            class="flex flex-row items-center justify-center gap-5 like-dislike-view-icon"
          >
            <div class="flex flex-row items-center justify-center gap-1">
              <% if(idea.isLike === true) { %>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor"
                class="w-10 h-10 like-icon text-sky-500"
              >
                <path
                  d="M7.493 18.75c-.425 0-.82-.236-.975-.632A7.48 7.48 0 016 15.375c0-1.75.599-3.358 1.602-4.634.151-.192.373-.309.6-.397.473-.183.89-.514 1.212-.924a9.042 9.042 0 012.861-2.4c.723-.384 1.35-.956 1.653-1.715a4.498 4.498 0 00.322-1.672V3a.75.75 0 01.75-.75 2.25 2.25 0 012.25 2.25c0 1.152-.26 2.243-.723 3.218-.266.558.107 1.282.725 1.282h3.126c1.026 0 1.945.694 2.054 1.715.045.422.068.85.068 1.285a11.95 11.95 0 01-2.649 7.521c-.388.482-.987.729-1.605.729H14.23c-.483 0-.964-.078-1.423-.23l-3.114-1.04a4.501 4.501 0 00-1.423-.23h-.777zM2.331 10.977a11.969 11.969 0 00-.831 4.398 12 12 0 00.52 3.507c.26.85 1.084 1.368 1.973 1.368H4.9c.445 0 .72-.498.523-.898a8.963 8.963 0 01-.924-3.977c0-1.708.476-3.305 1.302-4.666.245-.403-.028-.959-.5-.959H4.25c-.832 0-1.612.453-1.918 1.227z"
                />
              </svg>
              <%}else { %>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor"
                class="w-10 h-10 like-icon text-slate-700"
              >
                <path
                  d="M7.493 18.75c-.425 0-.82-.236-.975-.632A7.48 7.48 0 016 15.375c0-1.75.599-3.358 1.602-4.634.151-.192.373-.309.6-.397.473-.183.89-.514 1.212-.924a9.042 9.042 0 012.861-2.4c.723-.384 1.35-.956 1.653-1.715a4.498 4.498 0 00.322-1.672V3a.75.75 0 01.75-.75 2.25 2.25 0 012.25 2.25c0 1.152-.26 2.243-.723 3.218-.266.558.107 1.282.725 1.282h3.126c1.026 0 1.945.694 2.054 1.715.045.422.068.85.068 1.285a11.95 11.95 0 01-2.649 7.521c-.388.482-.987.729-1.605.729H14.23c-.483 0-.964-.078-1.423-.23l-3.114-1.04a4.501 4.501 0 00-1.423-.23h-.777zM2.331 10.977a11.969 11.969 0 00-.831 4.398 12 12 0 00.52 3.507c.26.85 1.084 1.368 1.973 1.368H4.9c.445 0 .72-.498.523-.898a8.963 8.963 0 01-.924-3.977c0-1.708.476-3.305 1.302-4.666.245-.403-.028-.959-.5-.959H4.25c-.832 0-1.612.453-1.918 1.227z"
                />
              </svg>
              <% } %>
              <p class="text-base font-medium like-moule">
                <%= idea.likeCount %>
              </p>
            </div>

            <div class="flex flex-row items-center justify-center gap-1">
              <% if(idea.isLike === false) { %>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor"
                class="w-10 h-10 dislike-icon text-sky-500"
              >
                <path
                  d="M15.73 5.25h1.035A7.465 7.465 0 0118 9.375a7.465 7.465 0 01-1.235 4.125h-.148c-.806 0-1.534.446-2.031 1.08a9.04 9.04 0 01-2.861 2.4c-.723.384-1.35.956-1.653 1.715a4.498 4.498 0 00-.322 1.672V21a.75.75 0 01-.75.75 2.25 2.25 0 01-2.25-2.25c0-1.152.26-2.243.723-3.218C7.74 15.724 7.366 15 6.748 15H3.622c-1.026 0-1.945-.694-2.054-1.715A12.134 12.134 0 011.5 12c0-2.848.992-5.464 2.649-7.521.388-.482.987-.729 1.605-.729H9.77a4.5 4.5 0 011.423.23l3.114 1.04a4.5 4.5 0 001.423.23zM21.669 13.773c.536-1.362.831-2.845.831-4.398 0-1.22-.182-2.398-.52-3.507-.26-.85-1.084-1.368-1.973-1.368H19.1c-.445 0-.72.498-.523.898.591 1.2.924 2.55.924 3.977a8.959 8.959 0 01-1.302 4.666c-.245.403.028.959.5.959h1.053c.832 0 1.612-.453 1.918-1.227z"
                />
              </svg>
              <%}else { %>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor"
                class="w-10 h-10 dislike-icon text-slate-700"
              >
                <path
                  d="M15.73 5.25h1.035A7.465 7.465 0 0118 9.375a7.465 7.465 0 01-1.235 4.125h-.148c-.806 0-1.534.446-2.031 1.08a9.04 9.04 0 01-2.861 2.4c-.723.384-1.35.956-1.653 1.715a4.498 4.498 0 00-.322 1.672V21a.75.75 0 01-.75.75 2.25 2.25 0 01-2.25-2.25c0-1.152.26-2.243.723-3.218C7.74 15.724 7.366 15 6.748 15H3.622c-1.026 0-1.945-.694-2.054-1.715A12.134 12.134 0 011.5 12c0-2.848.992-5.464 2.649-7.521.388-.482.987-.729 1.605-.729H9.77a4.5 4.5 0 011.423.23l3.114 1.04a4.5 4.5 0 001.423.23zM21.669 13.773c.536-1.362.831-2.845.831-4.398 0-1.22-.182-2.398-.52-3.507-.26-.85-1.084-1.368-1.973-1.368H19.1c-.445 0-.72.498-.523.898.591 1.2.924 2.55.924 3.977a8.959 8.959 0 01-1.302 4.666c-.245.403.028.959.5.959h1.053c.832 0 1.612-.453 1.918-1.227z"
                />
              </svg>
              <% } %>
              <p class="text-base font-medium dislike-moule">
                <%= idea.disLikeCount %>
              </p>
            </div>
            <div class="flex flex-row items-center justify-center gap-1 view">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-10 h-10 text-sky-600 hover:text-sky-900"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z"
                />
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
                />
              </svg>
              <p class="text-base font-medium"><%= idea.viewCount %></p>
            </div>
          </div>
          <div class="comment-icon">
            <a href="/ideas/<%= idea._id %>/detail">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-10 h-10 text-sky-600 hover:text-sky-900"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M2.25 12.76c0 1.6 1.123 2.994 2.707 3.227 1.087.16 2.185.283 3.293.369V21l4.076-4.076a1.526 1.526 0 011.037-.443 48.282 48.282 0 005.68-.494c1.584-.233 2.707-1.626 2.707-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0012 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018z"
                />
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
    <% }); %>
  </div>
</div>

<div class="flex justify-center my-10 pagination">
  <!-- pagination -->
  <!-- hiển thị phân trang nếu có trang -->
  <% if( ideas.totalPages > 0) { %>
  <nav aria-label="Page navigation example">
    <ul class="inline-flex items-center -space-x-px">
      <!-- FIRST ITEM -->
      <% if( ideas.page == 1) { %>
      <!-- // Nếu thông số http://localhost:3333/news/1/ là 1 thì First sẽ bị disabled -->

      <li>
        <a
          class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-500 bg-white border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
          href="/"
          >First</a
        >
      </li>
      <% } else { %>
      <!-- // Nếu thông số http://localhost:3333/news/2/ từ 2 trở lên thì First sẽ bỏ disabled -->

      <li>
        <a
          class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-500 bg-white border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
          href="/"
          >First</a
        >
      </li>
      <% } %>
      <!-- ITEMS -->
      <% var i = (Number(ideas.page) > 3 ? Number(ideas.page) - 2 : 1) %><!-- // Toán tử điều kiện 3 ngôi syntax: < điều_kiện ? giá_trị_1 : giá_trị_2 > --><!-- // Nếu điều_kiện trả về true, toán tử có giá trị giá_trị_1. Ngược lại toán tử có giá trị giá_trị_2. -->
      <% if(i !== 1) { %>
      <li>
        <a
          class="px-4 py-2 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
          href="#"
          >...</a
        >
      </li>
      <% } %> <% for(; i <= (Number(ideas.page) + 2) && i <= ideas.totalPages;
      i++) { %>
      <!-- // Sử dụng vòng lặp để lặp qua từng trang và tăng số trang -->

      <!-- // Trong vòng lặp for có ba biểu thức tùy chọn nên chỉ cần các bạn tách mỗi biểu thức bằng dấu `;` là oke rồi -->
      <% if(i == ideas.page) { %>
      <li>
        <a
          class="px-3 py-2 text-blue-600 border border-gray-300 bg-blue-50 hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white"
          href="/?page=<%= i %>"
        >
          <%= i %>
        </a>
      </li>
      <% } else { %>
      <li class="">
        <a
          class="px-4 py-2 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
          href="/?page=<%= i %>"
        >
          <%= i %>
        </a>
      </li>
      <% } %> <% if (i == Number(ideas.page) + 2 && i < ideas.totalPages) { %>

      <li class="">
        <a
          class="px-4 py-2 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
          href="#"
          >...</a
        >
      </li>
      <% } %> <% } %>
      <!-- LAST ITEM -->
      <% if(ideas.page == ideas.totalPages) { %>
      <!-- // Nếu số current( chỉ số phân trang ) là 6 và tổng số page là 6 thì Last bị disabled -->

      <li
        class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-500 bg-white border border-gray-300 rounded-r-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
      >
        <a class="" href="#"> Last </a>
      </li>
      <% } else { %>
      <!-- // Ngược lại, thì Last là trang cuối cùng pages ở đây là 6 đồng nghĩa với Last là trang số 6 -->

      <li
        class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-500 bg-white border border-gray-300 rounded-r-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
      >
        <a class="" href="?page<%= ideas.totalPages %>"> Last </a>
      </li>
      <% } %>
    </ul>
  </nav>
  <% } %>
</div>

<div
  id="modal"
  class="fixed top-0 z-50 items-center justify-center hidden w-screen h-screen bg-black bg-opacity-60"
>
  <div
    class="w-[20%] max-w-xl bg-white border border-teal-900 rounded-md top-20"
  >
    <div class="p-3 text-center border-b border-b-gray-300">
      <h5 class="mb-2 text-xl font-medium leading-tight text-gray-900">
        Download
      </h5>
      <p class="mb-4 text-base text-gray-700">
        Do you want to download all ideas?
      </p>
    </div>
    <div class="flex items-center justify-start p-3">
      <!--Modal Footer -->
      <div class="flex m-auto select-none flow-row">
        <div
          id="yes"
          class="px-4 py-2 mr-3 text-sm text-white bg-blue-500 rounded-md cursor-pointer"
        >
          <a href="#">Yes</a>
        </div>
        <div
          id="no"
          class="px-4 py-2 text-sm text-gray-400 border rounded-md cursor-pointer modal-close"
        >
          No
        </div>
        <!-- Close Modal -->
      </div>
    </div>
  </div>
</div>
